* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body {
    overflow-x: hidden;
}
.login-button {
    color:#019;
}
.register-button {
    color:darkblue;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


.valuta{
    background-color:green;
    width : 50px;
    height:50px;
}

.button1 {
    width: 100px;
    height: 50px;
    margin-left:25px;
}
.button2 {
    width: 100px;
    height: 50px;
    margin-left: 40px;
}
.button3 {
    width: 100px;
    height: 50px;
    margin-left: 50px;
}

button {

    color: white;
    width: 115px;
    height: 60px;
    background-color: #131418;

}

.login1 {
    width: 115px;
    height: 60px;
    border: 3px solid #315cfd;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}

.register1 {
    width: 115px;
    height: 60px;
    border: 3px solid #315cfd;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}
    button:hover {
        /*background: #315cfd;
        color: white;
        font-size: 1.5em;*/
    }
nav {
    
    height: 10rem;
    width: 150vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    /*position: fixed;*/
    z-index: 10;
}
.logreg {
    margin-left: 250px;
}

.logo {
    margin-top: -80px;
    padding: 1vh 1vw;
    text-align: center;
}

    .logo img {
        height: 5rem;
        width: 5rem;
    }

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

    .nav-links li a {
        text-decoration: none;
        margin: 0 0.7vw;
    }

        .nav-links li a:hover {
            color: #61DAFB;
        }

    .nav-links li {
        position: relative;
    }

        .nav-links li a:hover::before {
            width: 80%;
        }



.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

    .join-button:hover {
        color: #f2f5f7;
        background-color: transparent;
        border: 1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
    }

.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

        .nav-links.open {
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
            pointer-events: all;
        }

        .nav-links li {
            opacity: 0;
        }

            .nav-links li:nth-child(1) {
                transition: all 0.5s ease 0.2s;
            }

            .nav-links li:nth-child(2) {
                transition: all 0.5s ease 0.4s;
            }

            .nav-links li:nth-child(3) {
                transition: all 0.5s ease 0.6s;
            }

            .nav-links li:nth-child(4) {
                transition: all 0.5s ease 0.7s;
            }

            .nav-links li:nth-child(5) {
                transition: all 0.5s ease 0.8s;
            }

            .nav-links li:nth-child(6) {
                transition: all 0.5s ease 0.9s;
                margin: 0;
            }

            .nav-links li:nth-child(7) {
                transition: all 0.5s ease 1s;
                margin: 0;
            }

    li.fade {
        opacity: 1;
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
.enot-container {
    width: 500px; /* Ширина блока видео */
    height: 500px; /* Высота блока видео */
    border-radius: 75%; /* Делает блок видео круглым */
    overflow: hidden; /* Обрезать контент, который выходит за пределы блока */
}

    .enot-container video {
        width: 100%; /* Растянуть видео на всю ширину блока */
        height: 100%; /* Растянуть видео на всю высоту блока */
    }
