@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
<link rel="stylesheet" href="~/js/XOCHY_KYSCHATI_OTPYSTITE_PZ.cs.js" asp-append-version="true"/>

<div class="text-center">
    <h1 class="display-4">Найдите жилье для новой поездки</h1>
    <h2><p>Ищите спецпредложения на отели, дома и другие варианты.</a>.</p></h2>
    <p>История поиска   </p>
</div>
<div class="hotel1" style="text-align: center;">
    <div>
        <h5>
            <p style="text-decoration:auto;  font-family: 'Roboto', Arial, sans-serif;font-weight: bold;font-weight: 700;">LES MINI HOTEL ALMATY</p>
        </h5>
        <div style="    align-self: center;text-align: right;margin-right: 84px;margin-bottom: 0px;">

            <span>
                <img style="width: 75px;height: 75px;margin-left: 10px;border-radius: 5px;" src="/LES_hotel.webp" />

            </span>

        </div>


    </div>
    <div>

        <p style="color:dimgrey">ДАТА ДАТА ДАТА</p>
    </div>
</div>
<div class="hotel1" style="text-align: center;">
    <div>
        <h5>
            <p style="text-decoration:auto;  font-family: 'Roboto', Arial, sans-serif;font-weight: bold;font-weight: 700;">NAME OF HOTEL ALMATY</p>
        </h5>
        <div style="    align-self: center;text-align: right;margin-right: 84px;margin-bottom: 0px;">

            <span>
                <img style="width: 75px;height: 75px;margin-left: 10px;border-radius: 5px;" src="/DELUXE_ALMATY_HOTEL.webp" />

            </span>

        </div>


    </div>
    <div>

        <p style="color:dimgrey">ДАТА ДАТА ДАТА</p>
    </div>
</div>
<div class="hotel1" style="text-align: center;">
    <div>
        <h5>
            <p style="text-decoration:auto;  font-family: 'Roboto', Arial, sans-serif;font-weight: bold;font-weight: 700;">NAME OF HOTEL ASTANA</p>
        </h5>
        <div style="    align-self: center;text-align: right;margin-right: 84px;margin-bottom: 0px;">

            <span>
                <img style="width: 75px;height: 75px;margin-left: 10px;border-radius: 5px;" src="/LES_hotel.webp" />

            </span>

        </div>


    </div>
    <div>

        <p style="color:dimgrey">ДАТА ДАТА ДАТА</p>
    </div>
</div>
<div class="hotel1" style="text-align: center;">
    <div>
        <h5>
            <p style="text-decoration:auto;  font-family: 'Roboto', Arial, sans-serif;font-weight: bold;font-weight: 700;">NAME OF HOTEL ASTANA</p>
        </h5>
        <div style="    align-self: center;text-align: right;margin-right: 84px;margin-bottom: 0px;">

            <span>
                <img style="width: 75px;height: 75px;margin-left: 10px;border-radius: 5px;" src="/LES_hotel.webp" />

            </span>

        </div>


    </div>
    <div>

        <p style="color:dimgrey">ДАТА ДАТА ДАТА</p>
    </div>
</div>

<h2 style="text-align:center;margin: 90px;">Города</h2>
@* <div>
    <div><p>Самые популярные</p></div>
</div> *@

<div style="position: relative; text-align: center; width: 750px; margin-bottom:150px; border-radius:10px">
    <div style="display: flex;">
        <div style="flex: 1;">
            <div style="position: relative; overflow: hidden ;border-radius:10px;">
                <img src="/ASTANA.jpg" style="max-width: 100%; max-height: 100%; display: block;border-radius:10px;">
                <p style="position: absolute; top: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); margin: 0; color: white; padding: 10px;">ASTANA</p>
            </div>
        </div>

        <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
            <div>
                <h2>Самые популярные</h2>
            </div>
            <div style="display: flex; justify-content: space-around;">
                <div style="margin-right: 10px;border-radius:25px">
                    <p>Отель1</p>
                    <img src="/ASTNAA.webp" style="width: 150px; height: 150px; display: block;border-radius:25px">
                </div>
                <div style="margin-left: 10px;border-radius:25px">
                    <p>Отель2</p>
                    <img src="/ASTANA.webp" style="width: 150px; height: 150px; display: block;border-radius:25px">
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position: relative; text-align: center; width: 750px; border-radius:10px">
    <div style="display: flex;">
        <div style="flex: 1;">
            <div style="position: relative; overflow: hidden;border-radius:10px">
                <img src="/ALMATY.jpg" style="max-width: 100%; max-height: 100%; display: block; border-radius:10px">
                <p style="position: absolute; top: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); margin: 0; color: white; padding: 10px;">ALMATA</p>
            </div>
        </div>

        <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
            <div>
                <h2>Самые популярные</h2>
            </div>
            <div style="display: flex; justify-content: space-around;">
                <div style="margin-right: 10px;">
                    <p>Отель1</p>
                    <img src="/LES_hotel.webp" style="width: 150px; height: 150px; display: block;border-radius:25px">
                </div>
                <div style="margin-left: 10px;">
                    <p>Отель2</p>
                    <img src="/DELUXE_ALMATY_HOTEL.webp" style="width: 150px; height: 150px; display: block;border-radius:25px">
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="border-top footer text-muted" ">
    <div class="container">
        &copy; 2024 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


@* 
<div>
    
    <div> <p>ALMATA</p><img src="/ALMATY.jpg" /> </div>
</div> *@