@*
   
*@

@model project_site.Views.Home.hotelsModel
@{

}
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
<script src="~/js/site.js"></script>

<div class="city">
    <div>
        <span>
            <img style="width:50px; height:30px; margin-left:-6px;" src="/bed-3-svgrepo-com.svg" />
        </span>
        <input style="width: 150px;" type="text" id="cityInput" onclick="toggleCitiesTable()">
        <div id="citiesTable" style="display: none;">
            <table class=" Goroda" style="z-index:3;">
                <tr>
                    <td onclick="selectCity('Астана')">Астана</td>
                </tr>
                <tr>
                    <td onclick="selectCity('Алматы')">Алматы</td>
                </tr>
            </table>
        </div>

        <script>
            function toggleCitiesTable() {
                var table = document.getElementById("citiesTable");
                if (table.style.display === "none" || table.style.display === "") {
                    table.style.display = "block";
                } else {
                    table.style.display = "none";
                }
            }

            function selectCity(city) {
                var input = document.getElementById("cityInput");
                input.value = city;
                toggleCitiesTable();
            }

        </script>
    </div>
</div>

<div class="city">
    <div>
        <span>
            <img style="width:50px; height:30px; margin-left:-6px;" src="/calendar-days-svgrepo-com.svg" />
        </span>
        <input type="date">
        <div id="citiesTable" style="display: none;">
            <table class=" Goroda">
                <tr>
                    <td onclick="selectCity('Астана')">Астана</td>
                </tr>
                <tr>
                    <td onclick="selectCity('Алматы')">Алматы</td>
                </tr>
            </table>
        </div>


    </div>
</div>
@* <button class="menishe" id="decrement">-</button>
<span id="counter">0</span>
<button class="bolshe" id="increment">+</button> *@

<div class="city">
    <div>
        <span>
            <img style="width:50px; height:30px; margin-left:-6px;" src="/people-svgrepo-com.svg" />
        </span>
        <button style="width: 187px;height: 45px;text-align: left;background-color: white;border: none;" id="open-menu">
            Меню
        </button>
        <div class=" menyshka" id="menu" style="display: none;">

            <button style="border:none;" class="close" id="closeMenu">
                x
            </button>
            <div style="margin-top: 15px;border: 3px solid white;margin-bottom: 3px;margin-left: 30px;">
                <h3>
                    Adult
                </h3>
                <div class=" knopka">
                    <button style="border:none;background-color:white;color:blue;width:25px;height:25px;" class="menishe1 decrement">
                        -
                    </button>
                    <span class="adult-counter">0</span>
                    <button style="border:none;background-color:white;color:blue;width:25px;height:25px;" class="bolshe1 increment">+</button>
                </div>
            </div>
            <div style="margin-top: 15px;border: 3px solid white;margin-bottom: 3px;margin-left: 30px;">
                <h3>Child</h3>
                <div class="knopka">
                    <button style="border:none;background-color:white;color:blue;width:25px;height:25px;" class="menishe1 decrement">-</button>
                    <span class="child-counter">0</span>
                    <button style="border:none;background-color:white;color:blue;width:25px;height:25px;" class="bolshe1 increment">+</button>
                </div>
            </div>
            <div style="margin-top: 15px;border: 3px solid white;margin-bottom: 3px;margin-left: 30px;">
                <h3>Numbers</h3>
                <div class="knopka" style="margin-left: 9px;">
                    <button style="border:none;background-color:white;color:blue;width:25px;height:25px;" class="menishe1 decrement">-</button>
                    <span class="number-counter">0</span>
                    <button style="border:none;background-color:white;color:blue;width:25px;height:25px;" class="bolshe1 increment">+</button>
                </div>
            </div>
            <button class="submitBox">submit</button>
            <script>
                const openMenuBtn = document.getElementById('open-menu');
                const menu = document.getElementById('menu');
                const closeMenu = document.getElementById('closeMenu')

                openMenuBtn.addEventListener('click', function () {
                    menu.style.display = 'block';
                });

                closeMenu.onclick = function () {
                    menu.style.display = 'none';
                }

                const adultCounter = document.querySelector('.adult-counter');
                const childCounter = document.querySelector('.child-counter');
                const numberCounter = document.querySelector('.number-counter');

                function decrementCounter(counter) {
                    let value = parseInt(counter.textContent);
                    value--;
                    if (value < 0) {
                        value = 0;
                    }
                    counter.textContent = value;
                }

                function incrementCounter(counter) {
                    let value = parseInt(counter.textContent);
                    value++;
                    counter.textContent = value;
                }

                const decrementButtons = document.querySelectorAll('.decrement');
                const incrementButtons = document.querySelectorAll('.increment');

                decrementButtons.forEach(button => {
                    button.addEventListener('click', function () {
                        const counter = this.nextElementSibling;
                        decrementCounter(counter);
                    });
                });

                incrementButtons.forEach(button => {
                    button.addEventListener('click', function () {
                        const counter = this.previousElementSibling;
                        incrementCounter(counter);
                    });
                });

            </script>
        </div>
    </div>

</div>



<div class="search" style="width:250px;height:55px; text-align:center;background-color:dodgerblue;border:3px solid #ffd800;">

    @* <button style="border:none; width:150px; height:150px;"> *@<a style="border:none; width:50px; height:25px; color:white; text-decoration:none;" asp-area="" asp-controller="Home" asp-action="Index1">Найти </a>@* </button> *@

</div>


<div>
    <div style="    width: 100px;height: 100px; border:0.5px solid grey; border-radius:5px;">
        Карта
        <div style="    width: 100px;height: 100px;margin-left: 245px;margin-top: -26px;border:0.5px solid grey; border-radius:5px;">
            РЕЗУЛЬТАТ: 1337
        </div>
    </div>

    <div style="    margin-top: 40px;width: 248px; border:0.5px solid grey; border-radius:5px; flex-direction: column;">
        <h3>Фильтры</h3>
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        <input type="checkbox" /> 5 stars
        
    </div>

    <div style="width:650px; height:200px; border:0.5px solid grey; border-radius:5px; margin-left:249px; margin-top:-167px;">
        <img style="width:130px; height:125px;" src="/bed-3-svgrepo-com.svg" /><a asp-area=" " asp-action="Index" asp-controller="Home" style="text-decoration:none; width:100px ; height:100px; color:black;">ABOBA HOTEL , 2 rooms , megaSUPER giga niga       <span>ОЦЕНКА 9.8</span></a>
        <div>
            <div style="    margin-top: -40px;margin-left: 150px;WIDTH: 100px;">
                <a>ГОРОД</a>
            </div>
            <div style="    margin-left: 250px;width: 200px;margin-top: -24px;">
                <a>ПОКАЗАТЬ НА КАРТЕ</a>
            </div>
        </div>
        <div style="    margin-top: 20px;width: 175px;">
            ТЕКСТ ОПИСАНИЯ
        </div>    
    </div>
</div>
