@page
@model project_site.Views.Home.IndexKZModel
@{
}
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Жаңа сапарға баспана табыңыз</h1>
    <h2><p>Қонақүйлерде, үйлерде және басқа опцияларда арнайы ұсыныстарды іздеңіз.</a>.</p></h2>
    <p>Lorem    </p>
</div>
