@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Найдите жилье для новой поездки</h1>
    <h2><p>Ищите спецпредложения на отели, дома и другие варианты.</a>.</p></h2>
</div>
