@page
@model project_site.Views.Content.ContactModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваше Имя - Портфолио</title>
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/contact.js" asp-append-version="true" />
    <link rel="stylesheet" href=" https://api.green-api.com/waInstance{{idInstance}}/getSettings/{{apiTokenInstance}}"  asp-append-version="true">
</head>
<body>
        <section class="abob">
            <div class="tooltip-container">
                <div class="tooltip">
                    <div class="profile">
                        <div class="user">
                            <div class="img">G</div>
                            <div class="details">
                                <div class="name">KukaAbob</div>
                                <div class="username">Github</div>
                            </div>
                        </div>
                        <div class="about"></div>
                    </div>
                </div>
                <div class="text">
                    <a class="icon" href="https://github.com/KukaAbob?tab=repositories">
                        <div class="layer">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="titkokSVG">
                                <svg fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" id="github-icon" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.207 11.387.6.11.793-.258.793-.578 0-.286-.01-1.04-.015-2.04-3.355.728-4.055-1.617-4.055-1.617a3.186 3.186 0 0 0-1.344-1.757c-1.1-.751.084-.736.084-.736 1.214.086 1.852 1.244 1.852 1.244a3.08 3.08 0 0 1 2.25 1.644 3.112 3.112 0 0 0 4.232 1.22 3.097 3.097 0 0 1 1.047-1.92c-3.66-.416-7.487-1.83-7.487-8.148a6.38 6.38 0 0 1 1.7-4.437 5.952 5.952 0 0 1 .16-4.406s1.395-.448 4.57 1.7a15.423 15.423 0 0 1 8.184 0c3.168-2.148 4.56-1.7 4.56-1.7a5.952 5.952 0 0 1 .16 4.406 6.378 6.378 0 0 1 1.7 4.437c0 6.33-3.832 7.727-7.51 8.136a3.972 3.972 0 0 1 1.117 3.086c0 2.22-.02 4.005-.02 4.548 0 .32.188.694.8.575C20.56 21.8 24 17.3 24 12 24 5.37 18.63 0 12 0" />
                                </svg>
                            </span>

                        </div>
                        <div class="text">Github</div>
                    </a>
                </div>
            </div>
        </section>
    </div>

</body>
