@page
@model project_site.Views.Content.MainPageModel
@{
}

<div>
    <div>
        <span>

        </span>
        <input> </input>
    </div>
</div>


<div>
    <div>
        <div>
            <span>

            </span>
                <button>

                </button>

                <button>

                </button>
        </div>
    </div>
</div>
