@page
@model project_site.Views.Home.IndexENGModel
@{
}
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Find accommodation for a new trip</h1>
    <h2><p>Look for special offers on hotels, houses and other options.</a>.</p></h2>
    <p>Lorem    </p>
</div>
